.login-part{
    margin-top: 20px;
   
}
.for-login-shadow{
    box-shadow: 122px 142px 24px 13px gray;
}
.login-btn{
    color: bisque;
    padding: 10px;
    border-radius: 10%;
    border: none;
}
.forgot-btn button{
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    border: none;

}